.profile-image{
  object-fit: cover;
}
.hidden-file-field{
  display: none;
}
.profile-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;

  &__profile-top-box{
    &__user-nickname{
      margin-bottom: 5px;
    }
    &__user-fullname{
      margin-bottom: 5px;
    }
    &__follow-count{
      display: flex;
      margin-bottom: 5px;

      &__followers{
        margin-right: 15px;
      }
      &__following{}

    }
    &__user-bio{
      margin-bottom: 8px;
      font-weight: bold;
    }
    &__user-info-edit{
      margin-bottom: 5px;
    }
  }
}

.right-contents{
  margin: 0 0 0 auto;
}

.has-padding-bottom{
  padding-bottom: 10px;

}

.has-border-bottom{
  border-bottom: solid 1px rgb(156, 156, 156) ;
}

.flash-message-notice{
  position: absolute;
  height: 40px;
  width: 100%;
  background:rgba(0, 133, 241, 0.9);
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;

}